*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
    /* position: relative; */
}
.container{
    display: flex;
   position: relative;
}

.personal-info{
    display: flex;
    flex-direction: column;
    margin: 5vh;
}
.main-name {
    display: flex;
    flex-direction: column;
}
.designation{
    margin-left: 5px;
}
.main-contact{
    margin: 1vh;

}

.profile-picture{
    position: absolute;
    right: 30px ;;  
   
}
.profile-picture img {
    border-radius: 50%;
    position: absolute;
    right: 0; 
}
.profile-picture:hover{
    transform: scale(1.1);
    cursor: pointer;

}
.contact , .mail{
    color: blue;
    padding: 5px;
}
.contact , .mail:hover{
    cursor: pointer;
}

.personal-end {
    background-color: blue;
    width: 100%;
}

/* ----------------- Personal info end --------------------- */

.container-2{
    padding: 5px;
    
}
.main-education{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5vh;
}
p {
    padding: 5px;
}

.year{
    color: blue;   
}
.down{
    height: 30px;
    width: 30px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: rgb(202, 201, 201);
    border: none;
}

/* -------------------------------- Skills ----------------------------- */

.container-3{
    display: flex;
}
.main-skill{
    display: flex;
    margin: 5vh;
}

.detail-skill{
    margin-left: 40vh;
    padding: 5px;

}
.years{
    width: 100px;
    height :50px; 
}

/* ---------------------- Work experience ------------------------ */
.main-work{
    display: flex;
    justify-content: space-between;
    margin: 3vh;
}
.experience{
    padding: 5px;
    
}
.year-experince{
    padding: 50px;
    color: blue;
}
.down-2{
    height: 30px;
    width: 30px;
    margin-top: 70px;
    border-radius: 50%;
    background-color: rgb(202, 201, 201);
    border: none;
}
.down-2:hover , .down:hover{
    cursor: pointer;
}


@media (min-width:388px ) {
    .container {
        flex-direction: column;
        padding: 10px;
    }
    .profile-picture{
        margin-right: -30px;
        
    }
    .down {
        margin-left: 10px;
    }
    .down-2{
        margin-left: -20px;
    }
}